math {
	width: fit-content;
	margin: 0.5em 0;
}

math+hr {
	margin: 1em 0;
}

fieldset {
	margin-top: 2em;
	padding: 1em;
}

fieldset#outside,
fieldset#inside {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1em;

	button,
	output {
		grid-column: 1 / -1;
	}
}

output+output {
	margin-top: 1em;
}

#coordinates,
#address {
	display: block;
	opacity: 0.5;

	&:empty {
		display: none;
	}
}

#coordinates:not(:empty) {
	&::before {
		content: '(';
	}

	&::after {
		content: ')';
	}
}

#fetchState {
	&:empty {
		display: none;
	}

	&::before {
		content: ' ';
	}
}